@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.background-back{
    position: relative;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    background-color: #DCE0EB;
}

.main {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #F4F5F7;
    z-index: 2;
    border-radius: 15px;
    overflow: hidden;
}

.main-menu {
    background-color: white;
    position: relative;
    height: 100%;
    width: 350px;
}

.upr-icon {
    display: flex;
    height: 50px;
}

.upr-icon img {
    height: 20px;
    width: 20px;
}

.list-format {
    list-style: none;
}

.list-format img {
    height: 30px;
    width: 30px;
}
.list-format li{
    margin: 20px 0;
}

.main-left {
    width: 100%;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 30px 80px;
}

.semester-container {
    position: relative;
}

.semester-container img {
    position: absolute;
    height: 20px;
    width: 20px;
}

.semester-dropdown {
    margin-right: 20px;
}

.search-bar {
    margin-right: 20px;
}

.search-bar input {
    background-color: white;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
}

.search-container button {
    background: transparent;
    background-color: #0053D3;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.search-container select {
    background: transparent;
    background-color: white;
    color: black;
    border: none;
    width: 320px;
    height: 40px;
    padding: 0 20px;
    border-radius: 20px;
    cursor: pointer;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    
}

.enrollment-table {
    width: 100%;
    margin: 100px 30px;
    border: none;
}

.enrollment-table th {
    background-color: white;
    height: 60px;
}

.enrollment-table td {
    background-color: white;
    height: 60px;
}
