.block {
    color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    background: inherit;
    position: relative;
    width: 100vw;
  }
  
  .block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(10px) saturate(2);
  }
  
  .title {
      font-size: 1.4em;
      font-weight: 300;
      padding: 8px;
      background: rgba(52, 54, 65, 0.85);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      text-align: center;
  }
  
  .content {
      padding: 8px;
      background: rgba(37, 43, 54, 0.66);
      height: 100vh;
  }