@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 /* Bordered form */
 form {
    border: 3px solid #f1f1f1;
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Full-width inputs */
  .upr-login-username, .upr-login-password {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #F4F5F7;
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
    padding-left: 20px;
  }
  
  /* Set a style for all buttons */
  .upr-login-button {
    background-color: #0053D3;
    color: #F4F5F7;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  }
  
  /* Add a hover effect for buttons */
  .upr-login-button:hover {
    /* background-color: #053e92; */
    opacity: 0.5;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 20%;
    border-radius: 25%;
  }
  
  /* Add padding to containers */
  .uprm-login-container {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100;
  }
  
  /* The "Forgot password" text
  span.psw {
    float: right;
    padding-top: 16px;
  } */
  
  /* Change styles for span and cancel button on extra small screens
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }  */