<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPR Curriculum</title>
</head>
<body>
<div class="blur-overlay"></div>
<div class="main">
    <div class="main-menu">
        <div class="main-menu-background">
            <div>sdflsnsdfj dskjf sd</div>
            dflsjdf 
            <p>sadabsod </p>
            <p>sadabsod </p>
            <p>sadabsod </p>
        </div>
    </div>

